*{
margin:0;
padding: 0;
}
body{
  /* height: 100vh; */
  /* background-image: linear-gradient(#ffffff,#07001e); */
  scrollbar-color: none;
  background-color: aliceblue;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  overflow-y: scroll;
  display: none;             /* Hide scrollbar in Chrome/Safari/WebKit */
}
